@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@layer base {
	:root {
		--background: oklch(98% 0.005 195);
		--foreground: var(--color-stone-950);
		--border: var(--color-stone-200);
		--ring: var(--color-indigo-600);
		--primary: var(--color-stone-950);
		--primary-foreground: var(--color-stone-50);
		--secondary: var(--color-stone-100);
		--secondary-foreground: var(--color-stone-900);
		--info: var(--color-sky-600);
		--info-foreground: var(--color-stone-50);
		--success: var(--color-emerald-600);
		--success-foreground: var(--color-stone-50);
		--warning: var(--color-yellow-600);
		--warning-foreground: var(--color-stone-50);
		--error: var(--color-rose-600);
		--error-foreground: var(--color-stone-50);
		--muted: var(--color-stone-200);
		--muted-foreground: var(--color-stone-600);
	}
	.dark {
		--background: oklch(18% 0.005 195);
		--foreground: var(--color-stone-50);
		--border: var(--color-stone-400);
		--ring: var(--color-indigo-400);
		--primary: var(--color-stone-50);
		--primary-foreground: var(--color-stone-950);
		--secondary: var(--color-stone-700);
		--secondary-foreground: var(--color-stone-50);
		--info: var(--color-sky-600);
		--info-foreground: var(--color-stone-50);
		--success: var(--color-emerald-600);
		--success-foreground: var(--color-stone-50);
		--warning: var(--color-yellow-600);
		--warning-foreground: var(--color-stone-50);
		--error: var(--color-rose-600);
		--error-foreground: var(--color-stone-50);
		--muted: var(--color-stone-700);
		--muted-foreground: var(--color-stone-400);
	}
}
@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-ring: var(--ring);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border ring-ring ring-offset-background;
	}

	body {
		@apply bg-background text-foreground antialiased transition-colors;
	}

	svg {
		@apply shrink-0;
	}

	hr {
		@apply my-4 border;
	}

	h1 {
		@apply text-4xl font-bold tracking-normal;
	}

	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-2xl font-semibold;
	}

	.input {
		& > input[type="time"],
		& > input[type="date"],
		& > input[type="datetime-local"],
		& > input[type="month"],
		& > input[type="week"] {
			@apply text-muted-foreground relative pl-6;

			&::-webkit-calendar-picker-indicator {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -0.125rem;
			}

			&[type="time"] {
				&::-webkit-calendar-picker-indicator {
					left: -0.7rem;
				}
			}
		}
	}
}

@utility stack {
	display: grid;
	grid-template-areas: "stack";
}

@utility stack-item {
	grid-area: stack;
}

@utility card {
	@apply flex flex-col gap-2 rounded-xl border p-6;
	& > h3 {
		@apply text-2xl font-semibold;
	}
	& > p {
		@apply text-muted-foreground pb-4 font-medium;
	}
}

@utility absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@utility translate-center {
	transform: translate(-50%, -50%);
}

@utility radio-group {
	@apply border-muted rounded-lg border-2 bg-transparent px-3 py-2 text-base font-medium shadow-sm;

	label {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		input[type="radio"] {
			background-color: transparent;
			accent-color: var(--color-primary);
			width: 1.2rem;
			height: 1.2rem;
			margin: 0;
		}
	}
}

@keyframes disco-animation {
	0% {
		scale: 1;
		background-color: aliceblue;
	}
	25% {
		scale: 1.2;
		background-color: beige;
	}
	50% {
		scale: 1.1;
		background-color: azure;
	}
	75% {
		scale: 1.2;
		background-color: aquamarine;
	}
	100% {
		scale: 1;
		background-color: bisque;
	}
}

@utility disco-animation {
	animation: disco-animation 0.7s linear infinite;
}
